.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}