body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #0A1828;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f3f3; /* Add your background color here */
}

.user-email-container {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 800px;
  margin: 50px auto;
}

.left-half {
  flex: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;

}

.right-half {
  flex: 1;
  overflow: hidden;
  background-image: url('../images/collagePeliculas.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}

.user-email-container .left-half input {
  outline: none;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  border-radius: 5px;
  color: #333;
  display: block;
}

.user-email-container .left-half input::placeholder {
  color: #999;
  font-size: 0.9em;
}

#btnEntrar {
  cursor: pointer;
  padding: 1em;
  background: #A239CA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  transition: background 0.3s;
  margin-top: 40px;
}

button:hover {
  background: #45aaf0;
}

.footer {
  display: flex;
  font-size: 0.9em;
  color: #555;
  gap: 1em;
  padding-top: 1em;
  margin: auto;

  span {
    cursor: pointer;
  }
}

.custom-toast {
  background: #61dafb;
  color: #fff;
}

.user-email-container .left-half .form {
  display: flex;
  flex-direction: column;
}

.user-email-container .left-half .form button {
  align-self: flex-start; 
}

.user-email-container .left-half .footer {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-top: 1em; 
}